@model VueloBootstrap.Models.Destino;
@{
    ViewData["Title"] = "Destino";
    var destinos = ViewData["destinos"] as List<Destino>;
}
<h1>Gerenciamento de Destinos</h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Destinos Cadastrados</h2>
            <table class="table" style="color:#fff;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>País</th>
                        <th>Cidade</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var destino in destinos)
                        {
                            <tr>
                                <td>@destino.Id</td>
                                <td>@destino.pais_destino</td>
                                <td>@destino.cidade_destino</td>
                                <td>@destino.preco_destino</td>
                                <td>
                                    <form asp-controller="Destino" asp-action="Deletar">
                                        <button class="btn btn-danger" type="submit">x deletar</button>
                                        <input asp-for="Id" style="visibility:hidden;" type="text" value="@destino.Id">
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <h2>Cadastrar</h2>
            <form asp-action="Index">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="">País</label>
                        <input asp-for="pais_destino" type="text" class="form-control" id="" placeholder="País:" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Cidade</label>
                        <input asp-for="cidade_destino" type="text" class="form-control" id="" placeholder="Cidade:" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Preco</label>
                        <input asp-for="preco_destino" type="text" class="form-control" id="" placeholder="Preco:" />
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Incluir</button>

            </form>

            <br />
            <hr />
            <br />

            <h2>Atualizar Dados</h2>
            <form asp-controller="Destino" asp-action="Atualizar">

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">Código do destino</label>
                        <select class="custom-select" asp-for="Id">
                            <option selected>-- Selecione um código</option>
                            @{
                                foreach (var destino in destinos)
                                {
                                    <option>@destino.Id</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">País</label>
                        <input asp-for="pais_destino" type="text" class="form-control" id="" placeholder="Pais">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="">Cidade</label>
                        <input asp-for="cidade_destino" type="text" class="form-control" id="" placeholder="Cidade">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="">Preço</label>
                        <input asp-for="preco_destino" type="text" class="form-control" id="" placeholder="Preco">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>
